@import url("https://fonts.googleapis.com/icon?family=Material+Icons+Sharp");

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
:root {
  --color-primary: #7380ec;
  --color-danger: #ff7782;
  --color-success: #41f1b6;
  --color-warning: #ffbb55;
  --color-white: #fff;
  --color-info-dark: #7d8da1;
  --color-info-light: #dce1eb;
  --color-dark: #363949;
  --color-light: rgba(132, 139, 200, 0.18);
  --color-primary-variant: #111e88;
  --color-dark-variant: #677483;
  --color-background: #f6f6f9;
  --color-orange: #e66226;

  --card-border-radius: 2rem;
  --border-radius-1: 0.4rem;
  --border-radius-2: 0.8rem;
  --border-radius-3: 1.2rem;

  --card-padding: 1.8rem;
  --padding-1: 1.2rem;

  --card-paddings: 2.7rem;
  --paddings-1: 2rem;

  --box-shadow: 0 2rem 3rem var(--color-light);
}
* {
  margin: 0;
  padding: 0;
  outline: 0;
  appearance: none;
  border: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
html {
  font-size: 14px;
}
.maincontainer {
  display: flex;
}
.try {
  display: flex;
  justify-content: space-between;
}
body {
  width: 100vw;
  height: 100vh;
  font-family: poppins, sans-serif;
  font-size: 0.88rem;
  background: var(--color-background);
  user-select: none;
  overflow-x: hidden;
  color: var(--color-dark);
}
.container {
  display: grid;
  gap: 1.8rem;
  grid-template-columns: auto;
  /* border: 2px solid blue; */
  background: var(--color-white);
  padding-right: 4rem;
}

a {
  color: var(--color-dark);
}
img {
  display: block;
  width: 100%;
}

h1 {
  font-weight: 800;
  font-size: 1.8rem;
}
h2 {
  font-size: 1.4rem;
}
h3 {
  font-size: 0.87rem;
}
h4 {
  font-size: 0.8rem;
}
h5 {
  font-size: 0.77rem;
}
small {
  font-size: 0.75rem;
}
p {
  color: var(--color-dark-variant);
}

b {
  color: var(--color-dark);
}

.chart {
  margin-top: 2rem;
}

.right {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.child{
  width: 100%;
}
.right .top button {
  display: none;
}
.right .theme-toggler {
  background: var(--color-light);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 1.6rem;
  width: 4.2rem;
  cursor: pointer;
  border-radius: var(--border-radius-1);
}

.right .theme-toggler span {
  font-size: 1.2rem;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.right .theme-toggler span.active {
  background: var(--color-primary);
  color: white;
  border-radius: var(--border-radius-1);
}

.right .top .profile {
  display: flex;
  gap: 2rem;
  text-align: right;
  /* border: 2px solid blue; */
}
.profile-photo {
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;
  overflow: hidden;
}
.text-muted {
  color: var(--color-info-dark);
}

.profile-photo {
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;
  overflow: hidden;
}

.text-muted {
  color: var(--color-info-dark);
}

.primary {
  color: var(--color-primary);
}

.danger {
  color: var(--color-danger);
}
.success {
  color: var(--color-success);
}
.warning {
  color: var(--color-warning);
}

.aside {
  height: 100vh;
}
.aside .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.4rem;
  margin-left: 2rem;
  /* border: 2px solid blue; */
}

.aside .logo {
  display: flex;
  gap: 0.8rem;
}

.aside .logo img {
  width: 3rem;
  height: 3rem;
}
.aside .close {
  display: none;
}

.aside h2 {
  font-weight: 800;
  font-size: 2.1rem;
}

.aside .side {
  display: flex;
  flex-direction: column;
  height: 86vh;
  position: relative;
  top: 3rem;
}

.aside h3 {
  font-weight: 500;
}
.aside .side a {
  display: flex;
  color: var(--color-info-dark);
  margin-left: 2rem;
  gap: 1rem;
  align-items: center;
  position: relative;
  height: 3.7rem;
  transition: all 300ms ease;
}

.aside .side a span {
  font-size: 1.6rem;
  transition: all 300ms ease;
}

.aside .side a:last-child {
  position: absolute;
  bottom: 2rem;
  width: 100%;
}

.aside .side a.active {
  background: var(--color-light);
  color: var(--color-primary);
  margin-left: 0;
}
.aside .side a.active:before {
  content: "";
  width: 6px;
  height: 100%;
  background: var(--color-primary);
}

.aside .side a.active span {
  color: var(--color-primary);
  margin-left: calc(1rem - 3px);
}

.aside .side a:hover {
  color: var(--color-primary);
}

aside .side a:hover span {
  margin-left: 1rem;
}
