.rights {
  width: 30%; 
  margin-right: 2rem;

}

.rights .top {
  display: flex;
  justify-content: end;
  gap: 2rem;
}
.rights .top button {
  display: none;
}
.rights .theme-toggler {
  background: var(--color-light);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 1.6rem;
  width: 4.2rem;
  cursor: pointer;
  border-radius: var(--border-radius-1);
}

.rights .theme-toggler span {
  font-size: 1.2rem;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rights .theme-toggler span.active {
  background: var(--color-primary);
  color: white;
  border-radius: var(--border-radius-1);
}

.rights .top .profile {
  display: flex;
  gap: 2rem;
  text-align: right;
}
.profile-photo {
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;
  overflow: hidden;
}
.text-muted {
  color: var(--color-info-dark);
}

.rights .recent-updated {
  margin-top: 0.5rem;
}
.rights .recent-updated h2 {
  margin-bottom: 0.8rem;
}

.rights .recent-updated .updates {
  background: var(--color-white);
  padding: var(--card-padding);
  border-radius: var(--card-border-radius);
  box-shadow: var(--box-shadow);
  transition: all 300ms ease;
}

.rights .recent-updated .updates:hover {
  box-shadow: none;
}

.rights .recent-updated .updates .update {
  display: grid;
  grid-template-columns: 2.6rem auto;
  gap: 1rem;
  margin-bottom: 1rem;
}

.rights .daily {
  margin-top: 2rem;
}
.rights .daily h2 {
  margin-bottom: 0.8rem;
}
.rights .daily .item {
  background: var(--color-white);
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 0.7rem;
  padding: 1.4rem var(--card-padding);
  border-radius: var(--border-radius-3);
  box-shadow: var(--box-shadow);
  transition: all 300ms ease;
}

.rights .daily .item:hover {
    box-shadow: none;
}
.rights .daily .item .right{
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin: 0;
    width: 100%;
}

.rights .daily .item .icon {
    padding: 0.6rem;
    color: var(--color-white);
    border-radius: 50%;
    background: var(--color-primary);
    display: flex;
}

.rights .daily .item.patient .icon {
    background: var(--color-success);
}

.rights .daily .item.rod .icon {
    background: var(--color-orange);
}

.rights .daily .add-record {
    background-color: transparent;
    border: 2px dashed var(--color-info-dark);
    color: var(--color-info-dark);
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.rights .daily .add-record div{
    display: flex;
    align-items: center;
    gap: 0.6rem;
}

.rights .daily .add-record div h3{
    font-weight: 600;
}